{% extends 'base.html' %}
{% block title %}Boost Forge{% endblock %}
{% block content %}
<h1>Create A Message</h1>
<br/>
<br/>
{% if user.is_authenticated %}
<div class="form-group">
    <form method="POST" enctype="multipart/form-data" action="{% url 'posted' %}">
        {% csrf_token %}
        <h3>Enter the message you want to send: </h3>
        <input type="text" name="n2"><br/><br/>
        <input type="file" name="image">
        <button onclick="location.href='{% url 'posted' %}'" class="btn btn-dark">SEND</button>
    </form>
</div>
{% else %}
You Are Not Allowed On This Website.
{% endif %}
{% endblock %}